<h2>Edit news</h2>
<%= form_for :article, html: { multipart: true }, url: article_path(@article), method: :patch do |f| %>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>
	<p>
		Title<br>
		<%= f.text_field(:title, {:class => 'form-control'}) %>
	</p>
	<p>
		Body<br>
		<%= f.trix_editor(:body, {:class => 'editor'}) %>
	</p>
	<p>
		All taggs<br>
		<%= f.text_field(:all_tags, {:class => 'form-control'}) %>
	</p>
	<p>
		Image<br>
		<%= f.file_field(:image, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-success'}) %>
	</p>
<% end %>