<h2>Add news</h2>
<%= form_for :article, url: articles_path do |f| %>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>
	<p>
		Title<br>
		<%= f.text_field(:title, {:class => 'form-control'}) %>
	</p>
	<p>
		Body<br>
		<%= f.trix_editor(:body, {:class => 'editor'}) %>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-success'}) %>
	</p>
<% end %>